#main { display: none; }
      body { white-space: pre; }
      body:before { font-family: monospace; content: 'Error: error in C function asset-url: uninitialized constant SassC::Script::String\A         on line 10 of wizard.scss, in function `asset-url`\A         from line 10 of wizard.scss\A >>   background-image: asset-url("/images/wizard/bubbles.png");\A \A    --------------------^\A ' }
